@page
@model Recycle.Pages.Entries.EntryFormModel
@{
}


@{
    ViewData["Title"] = "Data";
}

<h2>List of Recycle Entries</h2>
<p>Click the bellow button to make new entries</p>
<a class="btn btn-primary" asp-page="/Entries/Create">Add Item</a>
<img class="image-2 logo-small" src="~/images/bot.png" />
