@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Recycle Everything</h1>
    <img class="image-1 logo-small" src="~/images/re1.png" />
    <p class="lead">At Recycle, we are dedicated to making the world a cleaner, greener place. Our mission is to promote sustainable living through effective recycling practices. Whether you're looking to recycle clothes, glass, or plastic.</p>

    <h2><strong>Why Recycle?</strong></h2>
    <p>Recycling helps conserve natural resources, reduces waste in landfills, and lowers pollution levels. By reusing materials, we can decrease the demand for new raw materials.</p>

    <h2><strong>Our Categories</strong></h2>
    <ul>
        <li><strong>Clothes</strong>: Give your old clothes a new life. Donate or recycle your shirts, pants, and other garments to reduce textile waste.</li>
        <li><strong>Glass</strong>: Recycle glass bottles and jars to help minimize waste and support the creation of new glass products.</li>
        <li><strong>Plastic</strong>: Reduce plastic pollution by recycling plastic bags, bottles, and containers. Help keep our oceans and landfills free from plastic waste.</li>
    </ul>

    <h2><strong>Get Involved</strong></h2>
    <p>Join our community of eco-conscious individuals and businesses committed to recycling</p>

    <p>Thank you for choosing to recycle with us. Let's work together to protect our planet for future generations!</p>
</div>